<nav class="navbar navbar-expand bg-dark fixed-top p-2">
  <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white fs-6" href="/admin/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-6" href="/admin/brands">Brands</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-6" href="/admin/categories">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-6" href="/admin/roles">Roles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-6" href="/admin/users">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-6" href="/admin/orders">Orders</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white fs-6"><%= loggedInUser %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white fs-6" href="/admin/login">Logout</a>
          </li>
        </ul>
      </div>
    </a>
  </div>
</nav>